@import "assets/styles/_variables";

.main-page {
  max-width: 1441px;
  padding: 58px 0;
  box-sizing: border-box;
  margin: 0 auto;

  & .loading-spinner {
    margin: 0 auto;
  }

  & .collection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & .collection-filters {
    margin-top: 106px;
    display: flex;
    row-gap: 24px;
    flex-direction: column;

    & .title-search-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      & > h3 {
        font-family: "Alliance No.1";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.03em;
      }
    }

    & .filter-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & .left-filters {
        display: flex;
        gap: 10px;
        height: 41px;

        & .switch-button {
          display: inline-flex;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 40px;

          & > button {
            width: 40px;
            height: 40px;
            padding: 14px 15px;
            background: transparent;

            &:disabled {
              background: #523df1;
            }
          }
        }
      }

      & .right-filters {
        display: flex;
        gap: 10px;
        width: 354px;
        height: 41px;
      }
    }
  }

  & .collection-tokens {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    flex-basis: calc(25% - 10px);
    margin-top: 64px;
    row-gap: 20px;
    column-gap: 16px;
  }
}
